<html>
  <head>
    <title>Elevio client packages</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>
  <body>
    <div>
      <button id="initialize">Initialize</button>
      <button id="open">Open</button>
      <button id="close">Close</button>
      <button id="hide-launcher">Hide Launcher</button>
      <button id="show-launcher">Show Launcher</button>
    </div>
    <script src="http://localhost:4000/dist/02-no-initialize.js"></script>
  </body>

</html>

