<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
  </head>
  <body style="padding-left: 400px;">
    <h1>Here is the list of examples</h1>
    <ul>
      <li>
        01 - Simple:
        <a href="http://localhost:4000/pages/01-simple"
          >http://localhost:4000/pages/01-simple</a
        >
      </li>

      <li>
        02 - No Initialize:
        <a href="http://localhost:4000/pages/02-no-initialize"
          >http://localhost:4000/pages/02-no-initialize</a
        >
      </li>

      <li>
        03 - React:
        <a href="http://localhost:4000/pages/03-react"
          >http://localhost:4000/pages/03-react</a
        >
      </li>
    </ul>
  </body>
</html>
